In [1]:
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
from matplotlib import rcParams
import seaborn as sns
import numpy as np
import pandas as pd
import os # accessing directory structure

# for data pipeline --------------------

from sklearn.model_selection import train_test_split
from sklearn.metrics import*
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import VarianceThreshold
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import make_pipeline

# for prediction (machine learning models) ------------------------

from sklearn.linear_model import*
from sklearn.preprocessing import*
from sklearn.ensemble import*
from sklearn.neighbors import*
from sklearn import svm
from sklearn.naive_bayes import*

In [2]:
df = pd.read_csv('./real_estate_data_clean.csv')
df.head(4)

,id,sub_type,listing_type,tom,building_age,total_floor_count,floor_no,room_count,size,address,heating_type,price,price_currency,start_date_year,start_date_month
0,1,3,2,30,0,4,8,4,90.000000,5907,0,3500.0,2,2018.0,6
1,2,0,1,14,0,4,9,1,43.000000,5907,0,490000.0,2,2019.0,1
2,3,0,1,30,0,0,28,4,198.319951,4968,0,155000.0,2,2018.0,4
3,4,3,1,30,7,4,9,12,450.000000,5702,0,32500000.0,2,2018.0,3

In [4]:
X=df.drop(["building_age"],axis=1).values
y=df["building_age"].to_list()

In [32]:
df["building_age"]

0          0
1          0
2          0
3          7
4          0
          ..
361025     0
361026     0
361027    13
361028     2
361029     8
Name: building_age, Length: 361030, dtype: int64

In [5]:
X_train,X_test,y_train, y_test=train_test_split(X,y,test_size=0.2, random_state=0)

In [33]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import SGDClassifier

#mdl_select = SelectKBest(f_regression, k = 718)
#X_new = mdl_select.fit_transform(X_train,y_train)
#X_new_test = mdl_select.transform(X_test)

mdl = SGDClassifier(random_state=0)
mdl.fit(X_train,y_train)
#y_tr1=mdl.predict(X_new)
#y_pr=mdl.predict(X_new_test)

#r2_score_rfr=r2_score(y_test, y_pr)
#r2_model_scores.append(r2_score_rfr)

#print('r2 :',r2_score_rfr)

SGDClassifier(random_state=0)

In [44]:
index = 9
predict = mdl.predict([X_test[index]])
print('Предсказание')
print(predict)
print('\nТестовая выборка')
print('Параметры')
print(X_test[index])
print('Правельный ответ:')
print(y_test[index])

Предсказание
[0]

Тестовая выборка
Параметры
[2.87096e+05 0.00000e+00 1.00000e+00 9.10000e+01 7.00000e+00 8.00000e+00
 6.00000e+00 1.23000e+02 1.48400e+03 8.00000e+00 1.40000e+05 2.00000e+00
 2.01800e+03 5.00000e+00]
Правельный ответ:
0

In [ ]:
plt.figure(figsize=(25,20))
metrics.plot_confusion_matrix(model, X_test, y_test)